<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cz.cvut.rutkodan.ipcameramonitor"
    android:versionCode="3"
    android:versionName="1.1" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="17" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="false"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="cz.cvut.rutkodan.ipcameramonitor.activities.CameraViewsActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Light.NoTitleBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="cz.cvut.rutkodan.ipcameramonitor.activities.CameraAddActivity"
            android:label="@string/add_camera_string"
            android:parentActivityName="cz.cvut.rutkodan.ipcameramonitor.activities.CameraViewsActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="cz.cvut.rutkodan.ipcameramonitor.CameraViewsActivity" />
        </activity>
        <activity
            android:name="cz.cvut.rutkodan.ipcameramonitor.activities.ManageCamerasActivity"
            android:label="@string/title_activity_manage_cameras"
            android:parentActivityName="cz.cvut.rutkodan.ipcameramonitor.activities.CameraViewsActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="cz.cvut.rutkodan.ipcameramonitor.CameraViewsActivity" />
        </activity>      
    </application>

</manifest>